body{
  background-image: url("images/back1.jpg");
}
.App{
  background-color: #07AAA3;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form input{
  background-color: #A307AA;
  height: 50px;
  width: 200px;
  border: 0;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  color: white;

}